body { 
max-width: 100%  !important
}
section > p > img {
  display: none;
}
.titreSatirique { 
  display: block;
  color: #D52C1E;
  //font-size: 2em;
  font-size: 1.4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h1 { 
  display: block;
  color: black;
  //font-size: 2em;
  font-size: xx-large;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  color: black;
  //font-size: 1.5em;
  font-size: x-large;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  color: black;
  //font-size: large;
  font-size: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  color: black;
  //font-size: 1em;
  font-size: medium;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  color: black;
  //font-size: .83em;
  font-size: small;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  color: black;
  //font-size: .67em;
  font-size: x-small;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/* alignement vignette et texte */
.VignetteBR.flex {
    display: flex; 
    align-items: flex-start;
    width: 100%; 
}
.VignetteBR.flex > * {
    flex: 1 100%;
    margin-left: auto; 
    margin-right: auto;
}
.VignetteBR.flex.left .divImg {
    margin-right: 1em;
}
.VignetteBR.flex.right {
    flex-direction: row-reverse;
}
.VignetteBR.flex.right .divImg {
    margin-left: 0.5em;
}
.VignetteBR.flex .divImg * {
    margin-top: 0.5em;
    width: 100%;
}
.VignetteBR.float {
    display: block; 
}
.VignetteBR.float .divImg {
    max-width: 200px; 
    width: 40%; 
    margin-top: 0.5em;
}
.VignetteBR.float.left .divImg {
    margin-right: 1em;
    float: left;
}
.VignetteBR.float.right .divImg {
    margin-left: 1em;
    float: right;
}
.VignetteBR.float .divText, .VignetteBR.float .divImg img {
    width: 100%; 
}
.VignetteBR.flex .divImg, .VignetteBR.float .divImg {
    max-width: 200px; 
}
.VignetteBR.center {
    display: block;
    width: 100%
}
.VignetteBR.center .divImg {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1100px) {
    .VignetteBR.flex {
        display: block; 
    }
    .VignetteBR.float .divText, .VignetteBR.float .divImg, 
    .VignetteBR.flex .divText, .VignetteBR.flex .divImg  {
        clear: both;
        display: block;
        width: 100%; 
        max-width: 100% !important;
        margin-bottom: 1em;
    }
    .VignetteBR.flex .divImg img,
    .VignetteBR.float .divImg img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }
}
.VignetteBR .relief img {
    box-shadow: rgba(0, 0, 0, 0.8) 10px 5px 25px;
}

.flexSong {
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    justify-content: center; 
    width: 100%; "
}
.flexSong div {
    font-style: italic; 
    width: 50%; 
    //max-width: 800px;
    margin-bottom: 1em;
}
@media (max-width: 1024px) {
    .flexSong {
        display: block; 
    }
    .flexSong div,
    .flexSong div.left,
    .flexSong div.right {
        clear: both;
        display: block;
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}

/* pour rendre les vidéo "responsive" (voir sbipsetlab...) */
.video-wrapper {
	width: 560px;
	max-width: 100%;
  margin: 2em auto 2em auto;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	//padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* CSS for responsive iframe */
/* ========================= */

/* outer container: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
.responsive-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 2em auto 2em auto;
}

/* inner container: make responsive */
.responsive-container {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;

  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-container around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
  
}
 
.responsive-container iframe,
.responsive-container object,  
.responsive-container embed {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-560x315 {
  width: 560px;
}
.responsive-wrapper-wxh-560x315 .responsive-container {
  padding-bottom: 56.25%;
}
.responsive-wrapper-wxh-572x612 {
  width: 572px;
}
.responsive-wrapper-wxh-572x612 .responsive-container {
  padding-bottom: 107%;
}
/* Antivol PDF A3 aspect ratio */
.responsive-wrapper-2A3-wxh-297x420 {
  width: 800px;
}
.responsive-wrapper-2A3-wxh-297x420 .responsive-container {
  padding-bottom: 280%;
}

/* general styles */
/* ============== */
.set-border {
  border: 5px inset #4f4f4f;
}
.set-box-shadow { 
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
  -moz-box-shadow: 4px 4px 14px #4f4f4f;
  box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
  padding: 40px;
}
.set-no-padding {
  padding: 0px !important;
}
.set-margin {
  margin: 30px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}