.references {
    text-indent: -1.2em;
    counter-reset: refcounter;
    font-style: italic;
    line-height: 1.5;
    font-size: smaller;
  }
.footnotes {
    text-indent: -1.2em;
    counter-reset: footcounter;
    font-style: italic;
    line-height: 1.5;
    font-size: smaller;
  }
.reference:before {
    display: block;
    content: " ";
    margin-top: -140px;
    height: 140px;
    visibility: hidden;
    pointer-events: none;
  }
.reference:target li {
    background-color: #BFEFFF;
  }
.reference li:before {
    content: "[" counter(refcounter) "] ";
    counter-increment: refcounter;
  }
.footnote:before {
    display: block;
    content: " ";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;
  }
.footnote:target li {
    background-color: #BFEFFF;
  }
.footnote li:before {
    content: "(" counter(footcounter) ") ";
    counter-increment: footcounter;
}
.tooltipster-sidetip.tooltipster-shadow .tooltipStyle {
    color: black;
    font-size: 1em;
    line-height: 1.5em;
  }
.tooltipster-sidetip.tooltipster-shadow .tooltipster-box {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 25px;
    transition: box-shadow .2s;
  }
