/*.containerVideos article .titre,
.containerVideos article .date,
.containerVideos article .data .divText {
    font-family: normal, sans-serif;
    font-size: 20px;
}*/
/*body {
    font-family: normal, sans-serif;
    font-size: 20px;
}
.weekVA {
text-align: center;
font-weight: bold;
font-size: 24px; 
}*/
.enTete {
    display: flex; 
    align-items: center;
    align-content: stretch;
    width: 100%; 
}
.enTete .divImg {
    max-width: 323px; 
    //width: 30%; 
    margin-right: 0.5em;
    //margin-bottom: 1em;
}
.enTete .divImg img {
    width: 100%;
}
.enTete .divText {
   width: 100%; 
   text-align: center;
   font-weight: bold;
   line-height: normal;
   font-family: "Times New Roman", Times, serif;
   font-style: italic;
   color: #050084;
   //text-shadow: 2px 1px grey;
}
.enTete .divText .titre {
    font-size: 48px; 
}
.enTete .divText .auteur {
    font-size: 36px; 
}
.enTete .divText .qualité, .containerVideos article .data .divText, .Intro {
   font-size: 20px; 
}
.containerVideos article .titre {
    font-size: 24px;
    font-weight: bold;
}
.containerVideos article .date {
    font-style: italic;
}
.containerVideos article .titre {
    margin-bottom: 0.25em;
}
.containerVideos article .date {
    //font-style: italic;
    margin-bottom: 0.25em;
    color: grey;
}
.containerVideos article .titre > a {
    font-style: italic;
    //font-size: 24px;
    line-height: 1.2;
    //font-weight: bold;
    color: #050084;
}
.containerVideos article .titre > a:link {
  text-decoration: none;
}
.containerVideos article .titre > a:visited {
  text-decoration: none;
}
.containerVideos article .titre > a:hover {
  text-decoration: underline;
}
.containerVideos article .titre > a:active {
  text-decoration: underline;
}
.containerVideos article .data {
    display: flex; 
    align-items: center;
    width: 100%; 
}
.containerVideos article .data .divImg {
    max-width: 323px; 
    width: 30%; 
    margin-right: 0.5em;
    //margin-bottom: 1em;
}
.containerVideos article .data .divText {
    width: 70%; 
}
.containerVideos article .data .divImg img {
    width: 100%;
}

/* mise en forme de l'article "à la une" */
.containerVideos article.AlaUneActu .titre {
  //font-size: 125%;
  //font-weight: bold;
}
.containerVideos article.AlaUneActu .data  {
  line-height: 1.6;
  color: black;
  font-size: 125%;
  font-weight: bold;
  margin: 1em 0 1em 0;
}
.containerVideos article.AlaUneActu .data .divImg {
    max-width: 450px; 
    width: 50%; 
    margin-right: 0.5em;
    //margin-bottom: 1em;
}

/*.customInlineBaseClass .button-close,
.customInlineBaseClass .button-previous,
.customInlineBaseClass .button-next {
  position: absolute;
  width: 44px;
  height: 44px;
  background: black;
  text-align: center;
  line-height: 44px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  font-size: 16px;
}*/
.customInlineBaseClass .button-close,
.customInlineBaseClass .button-previous,
.customInlineBaseClassA .button-next {
  display:block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  text-align: center;
  line-height: 30px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  font-size: 16px;
}

.customInlineBaseClass .button-previous,
.customInlineBaseClass .button-next {
  top: 50%;
  margin-top: -22px;
  line-height: 42px;
}

.customInlineBaseClass .button-previous {
    left: -50px;
}

.customInlineBaseClass .button-next {
    right: -50px;
}

.customInlineBaseClass .button-close {
  top: -44px;
  right: -44px;
  font-size: 22px;
}
.customInlineBaseClass .fancybox-content {
  position:fixed;
  left:20px;
}
/* détails des images disponibles à l'adresse suivante:
https://material.io/resources/icons/?icon=picture_as_pdf&style=baseline
*/
.material-icons { float: right; }
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media (max-width: 600px) {
    .containerVideos article .data, 
    .enTete {
        display: block; 
    }
    .containerVideos article .data .divImg, 
    .enTete .divImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }
    .containerVideos article .data .divText, 
    .enTete .divText {
        width: 100%; 
    }
}

.customIframeBaseClass .fancybox-button.fancybox-button--close{
    display: none;
}
.articleFancy {
    padding: 0 0 0 0;
    //min-width: 80%;
    min-width: 800px;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 25px;
    transition: box-shadow .2s;
    display: none;
}
.corpsFancy {
    width: 100%;
    //max-height: calc(80vh - 140px);
    max-height: 100%;
    overflow: auto;
    padding: 10px 15px 10px 15px;
}
.corpsFancy > img {
    width: 100%;
}
.customInlineBaseClass.fancybox-is-open .fancybox-bg {
    opacity: 0.1;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.customInlineBaseClass .button-close,
.customInlineBaseClass .button-previous,
.customInlineBaseClass .button-next {
  background: black;
}
@media screen and (max-width: 1100px) {
  .articleFancy {
    min-width: 90%;
  }
  .customIframeBaseClass .button-close,
  .customIframeBaseClass .button-previous,
  .customIframeBaseClass .button-next {
      display: none;
  }
  .customIframeBaseClass .fancybox-button.fancybox-button--close,
  .customIframeBaseClass .fancybox-button.fancybox-button--arrow_left,
  .customIframeBaseClass .fancybox-button.fancybox-button--arrow_right {
    display: block;
  }
}