body { 
max-width: 100%  !important
}
section > p > img,
.analyse > p > img,
.constat > p > img {
  display: none;
}
em {
  color: red;
  font-weight: bold;
}
section > p > em,
.analyse > p > em,
.constat > p > em {
 background-color: #EBEBEB;
 color: black;
}
.période, .reprise, .interp, .signif, .metDat  {
  font-style: italic; 
  font-weight: bold;
}
.période, .reprise  {
  color: red; 
}
.interp  {
  color: blue; 
}
.signif  {
  color: green; 
}
.metDat  {
 background-color: #EBEBEB;
 color: blue;
}
.rBNp, .rMAp {
  font-weight: bold;
  font-style: italic;
}
.rBNp {
  color: green;
}
.rMAp {
  color: rebeccapurple;
}
.teahyp {
  font-style: italic;
}
.tearep {
  color: black;
  font-weight: bold;
  font-style: italic;
}
.tearnbg {
  color: rgb(214, 122, 127);
}
.teadate {
  font-style:italic; 
  width: 400px; 
  /*margin-left: auto;*/ 
  margin-right: 1em;
}
.autheur { 
  display: none;
}
.themeRadical {
 float: right;
 zoom: 60%; 
}
.printImg {
  width: 100%;
}
.printImg > div {
  margin-right: auto;
  margin-left: auto;
}
.printImg.width1 > div {
  max-width: 61%;
}
.printImg.width2 > div {
  max-width: 47%;
}
.printImg.width3 > div {
  max-width: 27%;
}
/*h1 { 
  display: block;
  color: black;
  //font-size: 2em;
  font-size: xx-large;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  color: black;
  //font-size: 1.5em;
  font-size: x-large;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  color: black;
  font-size: large;
  //font-size: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  color: black;
  //font-size: 1em;
  font-size: medium;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  color: black;
  //font-size: .83em;
  font-size: small;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  color: black;
  //font-size: .67em;
  font-size: x-small;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}*/
/* alignement vignette et texte */
.VignetteBR.flex {
    display: flex; 
    align-items: flex-start;
    width: 100%; 
}
.VignetteBR.flex > * {
    flex: 1 100%;
    margin-left: auto; 
    margin-right: auto;
}
.VignetteBR.flex.left .divImg {
    margin-right: 1em;
}
.VignetteBR.flex.right {
    flex-direction: row-reverse;
}
.VignetteBR.flex.right .divImg {
    margin-left: 0.5em;
}
.VignetteBR.flex .divImg * {
    margin-top: 0.5em;
    width: 100%;
}
.VignetteBR.float {
    display: block; 
}
.VignetteBR.float .divImg {
    max-width: 200px; 
    width: 40%; 
    margin-top: 0.5em;
}
.VignetteBR.float.left .divImg {
    margin-right: 1em;
    float: left;
}
.VignetteBR.float.right .divImg {
    margin-left: 1em;
    float: right;
}
.VignetteBR.float .divText, .VignetteBR.float .divImg img {
    width: 100%; 
}
.VignetteBR.flex .divImg, .VignetteBR.float .divImg {
    max-width: 200px; 
}
.VignetteBR.center {
    display: block;
    width: 100%
}
.VignetteBR.center .divImg {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1100px) {
    .VignetteBR.flex {
        display: block; 
    }
    .VignetteBR.float .divText, .VignetteBR.float .divImg, 
    .VignetteBR.flex .divText, .VignetteBR.flex .divImg  {
        clear: both;
        display: block;
        width: 100%; 
        max-width: 100% !important;
        margin-bottom: 1em;
    }
    .VignetteBR.flex .divImg img,
    .VignetteBR.float .divImg img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }
}
.VignetteBR.relief img {
    box - shadow: rgba(0, 0, 0, 0.8) 10 px 5 px 25 px;
}
.VignetteBR .styleSubTitlel {
  font-style: italic;
}

.planete.title, .maison.title, .signe.title, .signe.subtitle {
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 10px;
  padding-right: 10px;
}
.planete.title, .maison.title, .signe.title {
  background-color: #DDDDDD;
}
.signe.subtitle {
  font-style: italic;
  background-color: #F3F3F4;
}
.planete.title, .maison.title, .signe.title, .signe.subtitle {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.wrp-PM-Signe {
  display: grid;
  /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
  grid-template-columns:  repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "planeteTitle signeTitle signeTitle" "planeteTitle lumiereTitle ombreTitle" "planeteCorps lumiereCorps ombreCorps";
}
.wrp-PM-Signe .planete.title, .wrp-PM-Signe .maison.title {
  grid-area: planeteTitle;
}
.wrp-PM-Signe .planete.corps, .wrp-PM-Signe .maison.corps {  
  grid-area: planeteCorps;
  border-left: 1px solid rgb(95, 97, 110);
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.wrp-PM-Signe .signe.title {
  grid-area: signeTitle;
}
.wrp-PM-Signe .signe.lumiere.subtitle {
  grid-area: lumiereTitle;
}
.wrp-PM-Signe .signe.ombre.subtitle {
  grid-area: ombreTitle;
}
.wrp-PM-Signe .signe.lumiere.corps {
  grid-area: lumiereCorps;
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.wrp-PM-Signe .signe.ombre.corps {
  grid-area: ombreCorps;
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.signe.texTitle .char, .maison.texTitle .char, .planete.texTitle .char {
  font-size: 36px;
}
.signe.texTitle, .maison.texTitle, .planete.texTitle {
  flex: 1 100%; 
}
.signe.texTitle .prop, .maison.texTitle .prop, .planete.texTitle .prop {
 font-style: italic;
}
.stylePMSImg {
  width: 36px;
}
.stylePMSChar {
  font-size: 36px;
}
.styleMCChar {
  font-size: 24px;
}
.styleMaisonChar {
  font-size: 36px;
}
.styleMaisonChar span {
  font-size: 24px;
}
.styleDomChar {
  font-size: 18px;
}
.AxeNoeudsLunaires th,.AxeNoeudsLunaires td {
  width: 33%;
 }
 .AxeNoeudsLunaires thead th {
  background-color: #DDDDDD;    
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 10px;
  padding-right: 10px;
}
.AxeNoeudsLunaires tbody td {
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.AxeNoeudsLunaires tbody td.first {
  border-left: 1px solid rgb(95, 97, 110);
}
.AxeNoeudsLunaires thead th .styleNodeChar {
  font-size: 28px;
}
.AxeNoeudsLunaires thead th .styleSigneChar {
  font-size: 24px;
}
.gridSignes {
  display: grid;
  grid-template-columns:  repeat(3, auto);
  grid-template-rows: repeat(4, auto);
}
.gridSignes .wrp-PM-Signe {
  padding: 10px;
}
.tabMaisons th, .tabPlanetes th, .AxeNoeudsLunaires td {
  width: 33%%;
 }
 .tabMaisons thead th, 
 .tabPlanetes thead th,
 .tabProfil thead th,
 .tabAspects thead th {
  background-color: #DDDDDD;    
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;
}
.tabMaisons tbody td, 
.tabPlanetes tbody td,
.tabProfil tbody td
.tabAspects tbody td {
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.tabMaisons tbody td.first, 
.tabPlanetes tbody td.first,
.tabProfil tbody td.first,
.tabAspects tbody td.first {
  border-left: 1px solid rgb(95, 97, 110);
  text-align: center;
}
.tabMaisons tbody td.first, 
.tabPlanetes tbody td.first {
  width: 100px;  
}
.tabProfil *,
.tabAspects * {
    padding-left: 10px;
    padding-right: 10px;
}
.tabProfil tbody tr td.first.dominance,
.tabAspects tbody tr td.first {
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
  text-align: justify;
}
/*.tabMaisons tbody td .styleMaisonChar {
  padding: 10px;
}*/
.tabMaisons .stylePMSImg {
  width: 40px;
}
.tabMaisons .styleMCChar {
  font-size: 24px;
}
.tabMaisons a:link, .tabMaisons a:visited {
  text-decoration: none;
}
.tabMaisons tbody td, .tabPlanetes tbody td {
  padding: 15px;
}
.tabPlanetes .stylePMSImg {
  width: 36px;
}
.gridPLClass .titre {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
.gridPLClass .stylePMSChar {
    font-size: 28px;
}
.gridPLClass * {
    text-align: center;
}
.gridPLClass table {
    margin-left:auto;
    margin-right:auto;
}
.gridPLClass .groupe, .gridPLClass .nombre {
    font-weight: bold;
    font-size: 24px;
}
.gridPLClass .motsClefs {
    font-style: italic;
    padding: 10px
}
.gridLemniscate {
  display: grid;
  /*grid-template-columns:  repeat(3, auto);*/
  grid-template-columns:  auto auto auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "titre titre titre" "titreN2 . titreN4" "corpsN2 . corpsN4" "lemniscate lemniscate lemniscate" "titreN3 . titreN1" "corpsN3 . corpsN1";
}
.gridLemniscate .lemniscate {
  grid-area: lemniscate;
  width: 100%;
}
.gridLemniscate .lemniscate .dimLemniscate {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.gridLemniscate .titre {
  grid-area: titre;
}
.gridLemniscate .N1.titre {
  grid-area: titreN1;
}
.gridLemniscate .N1.corps {
  grid-area: corpsN1;
}
.gridLemniscate .N2.titre {
  grid-area: titreN2;
}
.gridLemniscate .N2.corps {
  grid-area: corpsN2;
}
.gridLemniscate .N3.titre {
  grid-area: titreN3;
}
.gridLemniscate .N3.corps {
  grid-area: corpsN3;
}
.gridLemniscate .N4.titre {
  grid-area: titreN4;
}
.gridLemniscate .N4.corps {
  grid-area: corpsN4;
}
.gridLemniscate .titre .ordre {
  font-size: 42px;
}
.gridLemniscate .titre {
  display: flex;
  align-items: center;
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #DDDDDD;
}
.gridLemniscate .titre .ordre {
  flex: 1 10%; 
  text-align: center;
}
.gridLemniscate .titre .text {
  flex: 1 90%; 
  text-align: center;
}
.gridLemniscate .corps {
  border-bottom: 1px solid rgb(95, 97, 110);
  border-left: 1px solid rgb(95, 97, 110);
  border-right: 1px solid rgb(95, 97, 110);
  padding-left: 10px;
  padding-right: 10px;
}
.gridLemniscate .principal {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.intGorse {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "titre titre" "pla1 mais1" "mais2 sig2" "pla3 mais3";
}
.intGorse .titre {
  grid-area: titre;
}
.intGorse .pla1 {
  grid-area: pla1;
}
.intGorse .mais1 {
  grid-area: mais1;
}
.intGorse .mais2 {
  grid-area: mais2;
}
.intGorse .sig2 {
  grid-area: sig2;
}
.intGorse .pla3 {
  grid-area: pla3;
}
.intGorse .mais3 {
  grid-area: mais3;
}
.intGorse .titre {
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding: 10px;
  background-color: #DDDDDD;
}
.intGorse .corps {
  border-bottom: 1px solid rgb(95, 97, 110);
  border-left: 1px solid rgb(95, 97, 110);
  border-right: 1px solid rgb(95, 97, 110);
  padding: 10px;
}
.intGorse .corps.mais1, .intGorse .corps.pla1 {
  border-bottom: 5px double rgb(95, 97, 110);
}
.analyse {
  //border: solid;
  padding: 10px;
  margin: 5px;
}
.constat {
  background-color: #F6F6F6;
}
.WRP-Puissance-Planetes {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  //align-items: stretch;
  //justify-items: stretch;
  grid-template-areas:
    "puissance  vPH pPH"
    "puissance  vPB pPB" 
    "efficacite vEH pEH" 
    "efficacite vEB pEB" 
    "maitre     vMH pMH" 
    "maitre     vMB pMB" 
    "titre         titre titre" ;
}
.WRP-Puissance-Planetes  > *{
  text-align: center;
  padding-top: 5px; padding-bottom: 5px;
  border: 1px solid rgb(95, 97, 110);
}
.force {
  display: grid;
  grid-template-columns: 350px auto;
  grid-auto-rows: minmax(0px, auto);
  align-items: center;
  //justify-items: left;
  grid-template-areas:
    "force-titre force-titre"
    "analyse interprétation" ;
}
.force > * {
  padding-top: 5px; padding-bottom: 5px;
}
.force .force-titre * {
  text-align: center;
}
.force .force-titre * {
  font-weight: bold;
  font-size: 24px;
}
.force .force-titre .regard {
  font-style: italic;
}
.force .interprétation {
  padding-left: 1em;
}
.force .interprétation .nom {
  font-weight: bold;
  font-size: 20px;
  //text-align: center;
}
.force .force-titre *, .force .interprétation  p {
  margin-block-start: 10px;
  margin-block-end: 0;
}
