body { 
max-width: 100%  !important
}
section > p > img {
  display: none;
}
/*h1 { 
  display: block;
  color: black;
  //font-size: 2em;
  font-size: xx-large;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  color: black;
  //font-size: 1.5em;
  font-size: x-large;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  color: black;
  font-size: large;
  //font-size: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  color: black;
  //font-size: 1em;
  font-size: medium;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  color: black;
  //font-size: .83em;
  font-size: small;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  color: black;
  //font-size: .67em;
  font-size: x-small;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}*/
/* alignement vignette et texte */
.VignetteBR.flex {
    display: flex; 
    align-items: flex-start;
    width: 100%; 
}
.VignetteBR.flex > * {
    flex: 1 100%;
    margin-left: auto; 
    margin-right: auto;
}
.VignetteBR.flex.left .divImg {
    margin-right: 1em;
}
.VignetteBR.flex.right {
    flex-direction: row-reverse;
}
.VignetteBR.flex.right .divImg {
    margin-left: 0.5em;
}
.VignetteBR.flex .divImg * {
    margin-top: 0.5em;
    width: 100%;
}
.VignetteBR.float {
    display: block; 
}
.VignetteBR.float .divImg {
    max-width: 200px; 
    width: 40%; 
    margin-top: 0.5em;
}
.VignetteBR.float.left .divImg {
    margin-right: 1em;
    float: left;
}
.VignetteBR.float.right .divImg {
    margin-left: 1em;
    float: right;
}
.VignetteBR.float .divText, .VignetteBR.float .divImg img {
    width: 100%; 
}
.VignetteBR.flex .divImg, .VignetteBR.float .divImg {
    max-width: 200px; 
}
.VignetteBR.center {
    display: block;
    width: 100%
}
.VignetteBR.center .divImg {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1100px) {
    .VignetteBR.flex {
        display: block; 
    }
    .VignetteBR.float .divText, .VignetteBR.float .divImg, 
    .VignetteBR.flex .divText, .VignetteBR.flex .divImg  {
        clear: both;
        display: block;
        width: 100%; 
        max-width: 100% !important;
        margin-bottom: 1em;
    }
    .VignetteBR.flex .divImg img,
    .VignetteBR.float .divImg img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
    }
}
.VignetteBR.relief img {
    box - shadow: rgba(0, 0, 0, 0.8) 10 px 5 px 25 px;
}
.VignetteBR .styleSubTitlel {
  font-style: italic;
}

.planete.title, .maison.title, .signe.title, .signe.subtitle {
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 10px;
  padding-right: 10px;
}
.planete.title, .maison.title, .signe.title {
  background-color: #DDDDDD;
}
.signe.subtitle {
  font-style: italic;
  background-color: #F3F3F4;
}
.planete.title, .maison.title, .signe.title, .signe.subtitle {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.wrp-PM-Signe {
  display: grid;
  /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
   grid-template-columns:  repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "planeteTitle signeTitle signeTitle" "planeteTitle lumiereTitle ombreTitle" "planeteCorps lumiereCorps ombreCorps";
}
.wrp-PM-Signe .planete.title, .wrp-PM-Signe .maison.title {
  grid-area: planeteTitle;
}
.wrp-PM-Signe .planete.corps, .wrp-PM-Signe .maison.corps {  
  grid-area: planeteCorps;
  border-left: 1px solid rgb(95, 97, 110);
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.wrp-PM-Signe .signe.title {
  grid-area: signeTitle;
}
.wrp-PM-Signe .signe.lumiere.subtitle {
  grid-area: lumiereTitle;
}
.wrp-PM-Signe .signe.ombre.subtitle {
  grid-area: ombreTitle;
}
.wrp-PM-Signe .signe.lumiere.corps {
  grid-area: lumiereCorps;
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.wrp-PM-Signe .signe.ombre.corps {
  grid-area: ombreCorps;
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.signe.texTitle .char, .maison.texTitle .char, .planete.texTitle .char {
  font-size: 36px;
}
.signe.texTitle, .maison.texTitle, .planete.texTitle {
  flex: 1 100%; 
 }
.signe.texTitle .prop, .maison.texTitle .prop, .planete.texTitle .prop {
 font-style: italic;
}
.stylePMSChar {
  font-size: 36px;
}
.styleMaisonChar {
  font-size: 36px;
}
.styleMaisonChar span {
  font-size: 24px;
}
.AxeNoeudsLunaires th,.AxeNoeudsLunaires td {
  width: 33%;
 }
 .AxeNoeudsLunaires thead th {
  background-color: #DDDDDD;    
  border: 1px solid rgb(95, 97, 110);
  border-radius: .5em;
  padding-left: 10px;
  padding-right: 10px;
}
.AxeNoeudsLunaires tbody td {
  border-right: 1px solid rgb(95, 97, 110);
  border-bottom: 1px solid rgb(95, 97, 110);
}
.AxeNoeudsLunaires tbody td.first {
  border-left: 1px solid rgb(95, 97, 110);
}
.AxeNoeudsLunaires thead th .styleNodeChar {
  font-size: 28px;
}
.AxeNoeudsLunaires thead th .styleSigneChar {
  font-size: 24px;
}


