.popBody {
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.popItem {
  margin-top: 1em;
}
.popLieux {
  width: 100%;
  max-width: 100%;
  background-color: #00b0f0;
  text-align: center;
  font-size: 125%;
}
.popTitle {
  font-style: italic;
  font-weight: bold;
}
.popNum {
  /*font-style: italic;*/
  font-weight: bold;
  font-size: 150%;
}
.popNote {
  font-style: italic;
  /*font-weight: bold;*/
}
#table_wrapper {
  display: none;
}
.styledGreen {
  background-color: green;
}
.styledGreen:hover {
  background-color: rgba(208, 225, 226, 1);
}
/*button#btData {
  visibility: hidden;
};*/