.fancyAlaUneDefaultInline {
    position: absolute;
}  
/* Background color */
.fancyAlaUneDefaultInline .fancybox-bg {
  background-color: #fff;
  opacity: 1;
}
.fancyAlaUneDefaultInline .fancybox-inner {
    margin: 20 20 20 20;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 25px;
    //box-shadow: -0.5em -0.5em 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s;
	  //box-shadow: none;
    //transition: none;
}  
.fancyAlaUneDefaultInline .fancybox-content {
    padding: 20 20 20 20;
    width: 100%;
    height: 100%;
}  
.fancyAlaUneDefaultButton .fancybox-content .button-close,
.fancyAlaUneDefaultButton .fancybox-content .button-previous,
.fancyAlaUneDefaultButton .fancybox-content .button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  text-align: center;
  line-height: 30px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  font-size: 16px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-previous,
.fancyAlaUneDefaultButton .fancybox-content .button-next {
  top: 50%;
  margin-top: -22px;
  line-height: 30px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-previous.inside {
    left: 0px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-next.inside {
    right: 0px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-close.inside {
  top: 22px;
  right: 22px;
  font-size: 22px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-previous.outside {
    left: -30px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-next.outside {
    right: -30px;
}
.fancyAlaUneDefaultButton .fancybox-content .button-close.outside {
  top: -22px;
  right: -22px;
  font-size: 22px;
}
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--close,
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_left > div,
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_right > div,
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--thumbs {
    background: #808080;
}
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--close,
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_left,
.fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_right {
    display: none;
}
.fancyAlaUneDefaultButton .fancybox-content .button-close,
.fancyAlaUneDefaultButton .fancybox-content .button-previous,
.fancyAlaUneDefaultButton .fancybox-content .button-next {
    display: block;
}
/*.articleFancy {
    width: 100%;
    display: none;
}
.fontFancy {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 18px;
    line-height: 1.4;
    height: 100%;
    padding: 0 0 0 0;
}
.titreFancy {
    //height: 55px;
    font-weight: bold;
    font-style: italic;
    color: #027ffd;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 20px 10px 10px 10px;
}
.footFancy {
    height: 100px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 10px 10px 10px;
}
.titreFancy a:link, .footFancy a:link {
   color:inherit;
}
.corpsFancy {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: auto;
    padding: 10px 30px 10px 30px;
    text-align: justify;
    text-justify: inter-word;

}*/
@media screen and (max-width: 600px) {
  .fancyAlaUneDefaultInline .fancybox-navigation .fancybox-button {
    top: calc(15% - 50px);
  }
  .fancyAlaUneDefaultButton .fancybox-button.fancybox-button--close,
  .fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_left,
  .fancyAlaUneDefaultButton .fancybox-button.fancybox-button--arrow_right {
    display: block;
  }
  .fancyAlaUneDefaultButton .fancybox-content .button-close,
  .fancyAlaUneDefaultButton .fancybox-content .button-previous,
  .fancyAlaUneDefaultButton .fancybox-content .button-next {
    display: none;
  }
  .fancyAlaUneDefaultInline .fancybox-inner {
    margin: 0 0 0 0;
	  box-shadow: none;
    transition: none;
  }  
  
  /*.corpsFancy {
    max-height: none;
    padding: 10px 10px 10px 10px;
  }
  .titreFancy {
    font-size: 18px;
    line-height: 1.;
    margin-left: 60px;
  }*/
}

.fancyAlaUneDefault.fancybox-is-open .fancybox-bg {
  opacity: 0.1;
}
.fancyAlaUneDefault .fancybox-slide.fancybox-slide--html .fancybox-content {
    max-width: calc(100% - 80px);
    max-height: 100%;
    overflow: visible;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*.inlineArticleFancy {
    display: none;
}
.fancyAlaUneDefault .fancybox-inner .inlineArticleFancy.fancybox-content {
    width: 100%;
}*/

.fancyAlaUneDefaultInline .defaultFancyWrapper,
.fancyAlaUneDefault .defaultFancyWrapper {
    //width: 100% !important;
    width: 100%;
}
.fancyAlaUneDefaultInline .fontFancy.defaultFancy {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: auto;
    padding: 15px 30px 15px 30px;
}
.fancyAlaUneDefault .fontFancy.defaultFancy {
    width: 100%;
    max-height: calc(100vh - 150px);
    overflow: auto;
}
.fancyAlaUneDefaultInline .fontFancy.defaultFancy,
.fancyAlaUneDefault .fontFancy.defaultFancy {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 18px;
    line-height: 1.4;
}

.fancyAlaUneDefaultInline .footFancy {
    padding: 15px 20px 15px 20px;
}
.fancyAlaUneDefaultInline .corpsFancy {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: auto;
    padding: 10px 30px 10px 30px;
}
.fancyAlaUneDefault .corpsFancy {
    width: 100%;
    max-height: calc(100vh - 280px);
    overflow: auto;
}
@media screen and (max-width: 600px) {
  .fancyAlaUneDefaultInline .fontFancy.defaultFancy,
  .fancyAlaUneDefaultInline .corpsFancy {
    max-height: none;
    padding: 10px 10px 10px 10px;
  }
  .fancyAlaUneDefault .fontFancy.defaultFancy,
  .fancyAlaUneDefault .corpsFancy {
    max-height: none;
  }
}

